<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reuniones</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../../home" *ngIf="elrol=='administrador'">
        <ion-icon name="list-box"></ion-icon>
      </ion-button>
      <ion-button routerLink="../../mes">
        <ion-icon name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="irmes">
    <ion-buttons slot="start">
      <ion-button (click)="atras(fechaz)">
        <ion-icon name="md-arrow-dropleft-circle" class="tam"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="fecha">{{fechax}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="adelante(fechaz)">
        <ion-icon name="md-arrow-dropright-circle" class="tam"></ion-icon>
      </ion-button>

    </ion-buttons>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let unareunion of hoy" (click)="detallereunion(unareunion.id)">
      <ion-grid>
        <ion-row>
          <ion-col size="2">{{unareunion.horainicio}}</ion-col>
          <ion-col size="10">
            <span class="nombre">{{unareunion.nombre}}</span><br>
            <span class="obs">{{unareunion.observaciones}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <!-- <ion-fab vertical="bottom" horizontal="end" [routerLink]="['/home']">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->
</ion-footer>