ion-content{
    --background:lightyellow;
}
ion-toolbar{
    --background:khaki;
}
ion-item{
    --background:lightyellow;
}
ion-list{
    background:lightyellow;
}
// ion-grid{
//     background: khaki;
    
// }
// ion-list{
//     background: khaki;
// }
// ion-item{
//     --background: khaki;
// }
.nombre{
    color: #101010;
    font-size: 0.9em;
}
.obs{
    color: #c1c1c1;
    font-size: 0.8em;
}
.descrip{
    background:lightyellow;
}
ion-col:first-child{
    color: lightseagreen;
}
.tam{
    font-size: 2.5em;
}
.irmes{
    display: flex;
    align-content: space-between;
}
.fecha{
    text-align: center;
}